body {
  background: linear-gradient(to right, #158caa, #ace2ee);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #13293D;
}

.bold {
  font-weight: bold;
  text-align: center;
}

.posters {
  display: grid;
  grid-template-columns: auto;
  column-gap: 0.3em;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  width: 1500px;
  max-height: 1400px;
  margin: 0 auto;
  background-color: #13293D;
}

#poster-path img {
  /* display: none; */
  max-height: 330px;
  width: 300px;
  grid-column: auto; 
  grid-row: auto; 
}

/* .hover-rotate {
  overflow: hidden;
  margin: 1rem;
  }

.hover-rotate img {
  transition: all 0.3s;
  box-sizing: border-box; */
  /* max-width: 100%; */
/* }  */ 


#poster-path img:hover {
  transform: scale(1.2) rotate(2deg);
}


.movie-name {
  margin: auto;
  width: 220px;
  text-align: center;
}

.hide {
  display: none;
}

button {
  margin: 0 auto;
  width: auto;
  align-items: center;
}

